on early-init
    insmod /rk29xxnand_ko.ko.3.0.8+
    start ueventd

on init
    export PATH /system/bin:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /boot
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /kernel
    mount tmpfs tmpfs /tmp
    mount vfat /dev/block/mtdblock10 /emmc
    mount ext4 /dev/block/mtdblock6 /cache
    mount ext4 /dev/block/mtdblock7 /data
    mount ext4 /dev/block/mtdblock9 /system
	
    write /sys/devices/virtual/bdi/179:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/7:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/93:0/read_ahead_kb 2048

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service erase_misc /sbin/sh -c "busybox dd if=/misc.img of=/dev/block/mtdblock1; sync"
    oneshot

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    start adbd
    #setprop service.adb.root 1

# Restart adbd so it can run as root
#on property:service.adb.root=1
#    write /sys/class/android_usb/android0/enable 0
#    restart adbd
#    write /sys/class/android_usb/android0/enable 1
